body {
    background-color: #ffa55b;


}

a {
    text-decoration: none;
    color: inherit; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #76baff;
    padding: 10px 0 10px;
    color: black;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 166, 0.4);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f4f8fd;

}

.logo-holder{
    max-width: 40px;
    max-height: 40px;
}

.logo-img{
    max-width: 100%;
    max-height: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    padding-right: 20px;
}

.menu-link {
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
}

.menu-link:hover {

    color: rgb(48, 0, 207);
    
}

.content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    grid-gap: 16px;
    grid-auto-flow: dense;
    max-width: inherit;
    margin: 0 auto;

    /* background-color:  white; */
}

.event-item {
    margin: 20px 0px;
    padding: 8px 8px;
    background-color: #f9fffd;
    min-width: 233px;
    min-height: 90px;
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    /* #76baff */
    border-color: rgb(28 103 179 / 66%);
    box-shadow:  0px 0px 9px 2px rgba(0, 0, 166, 0.4);
    font-size: 15px;
    color: #4d4d4d;

}

.event-calendar-item{
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(28 103 179 / 66%);
    box-shadow:  0px 0px 9px 2px rgba(0, 0, 166, 0.4);
    font-size: 15px;
    color: #4d4d4d;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf4cf;
}
.event-calendar-item:hover{
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 166, 0.4);
    /* box-shadow: 0px 0px 9px 3px rgba(0, 0, 166, 0.4); */
    transition: .2s;
}
.messages-holder {
    text-align: center;
    margin: 14px 0 0 0;
    padding: 0 0;
    border: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 4px;
    background-color: #6cff47;
}

.messages {
    margin: 7px auto;
    color: green;
    font-size: 20px;
}

.event-title,
.event-date,
.event-price{
    padding: 0;
    display: flex;
    border: solid;
    border-width: inherit;
    border-radius: 4px;
    margin-bottom: 5px;
    border-color: #dadcde;
    align-items: center;
}

.event-delete-update {
    display: flex;
    justify-content: space-between;
    color: #57ff52;
}

.event-delete{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
    border-color: #dadcde;
    border-radius: 4px;
    color: #9e020c;
    align-items: center;
}

.event-delete:hover{
    color: #f70515;
}

.event-update:hover{
    color: #02e30e;

}

.event-update{
    padding: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #016e07;
    border: solid;
    border-width: 1px;
    border-color: #dadcde;
    border-radius: 4px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 3,
  'opsz' 15
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.form-control{
    margin-top: 15px;
}

.errorlist > li{
    border: solid;
    border-radius: 3px;
    border-color: red;
    border-width: 1px;
    background-color: rgb(251, 176, 176);
    color: rgb(190, 0, 0);
    margin: 4px 0;
}

#id_title,
#id_date_of_the_event,
#id_time_of_the_event,
#id_comment,
#id_price,
#id_username,
#id_password,
#id_password1,
#id_password2,
#id_start_date,
#id_start_time,
#id_end_date,
#id_end_time,
#id_old_password,
#id_new_password1,
#id_new_password2{
    box-sizing: border-box;
    outline: none;
    border: solid;
    border-width: 3px;
    border-radius: 4px;
    height: 30px;
    /* width: inherit; */
    /* width: 325px; */
    width: 100%;
    border-color: rgba(0, 0, 166, 0.4);
    font-size: 15px;
    color: #4d4d4d;
}

#id_title:hover,
#id_date_of_the_event:hover,
#id_time_of_the_event:hover,
#id_comment:hover,
#id_price:hover,
#id_username:hover,
#id_password:hover,
#id_password1:hover,
#id_password2:hover,
#id_start_date:hover,
#id_start_time:hover,
#id_end_date:hover,
#id_end_time:hover,
.event-item:hover ,
.month:hover,
.current-month:hover,
.form-wrapper:hover,
.event-title:hover,
.event-date:hover,
.event-price:hover,
.button:hover{

    box-shadow: 0px 0px 8px 4px rgba(0, 0, 166, 0.4);
    /* box-shadow: 0px 0px 9px 3px rgba(0, 0, 166, 0.4); */
    transition: .2s;
}

.form-submit{
    background-color: white;
    border-radius: 0px;
    border-width: 0px;
    color: #016e07;
}
.pagination-wrapper{
    max-width: 200px;
    padding: 15px;
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgba(0, 0, 166, 0.4);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 166, 0.4);
    font-size: 15px;
    color: #4d4d4d;
    background-color: #ffffff;
}
.marker-form-wrapper{
    display: flex;
    padding: 15px;
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgba(0, 0, 166, 0.4);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 166, 0.4);
    font-size: 15px;
    color: #4d4d4d;
    background-color: #ffffff;
}

.current-month,
.month,
.form-wrapper{
    padding: 15px;
    min-width: 270px;
    width: 350px;
    min-height: 300px;
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgba(0, 0, 166, 0.4);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 166, 0.4);
    font-size: 15px;
    color: #4d4d4d;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;

}

.current-month{

    background-color: #b6f1fc;

}

.form-control-label{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}

.button-holder{
    display: flex;
    justify-content: space-around;
    padding: 23px;
}

.button-inner{
    display: flex;
    align-items: center;
}


.button{
    border: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: rgba(0, 0, 166, 0.4);
    background-color: white;
    margin: 0 3px;
    box-shadow: 0px 0px 10px -1px rgba(0, 20, 36, 0.47);
}

.year-head{
    border: solid;
    border-radius: 3px;
}
.submit{
    color: green;
}

.remove,
.cancel{
    color: rgb(136, 0, 0);
}

.remove:hover,
.cancel:hover{
    color: rgb(219, 0, 0);
}

.submit:hover{
    color: rgb(0, 180, 0);
}

.errorlist{
    color: red;
}

.empty-message{
    display: flex;
    align-items: center;
}

.logout-img-wrapper{
    max-width: 500px;
    max-height: 500px;
}

.logout-img{
    max-width: 100%;
    max-height: 100%;
}

.step-links{
    padding: 4px;
    border: solid;
    border-width: 3px;
    border-color: #dadcde;
    border-radius: 6px;
}

.flex{
    display: flex;
}

.empty-message{
    padding: auto;
}

select {
    border-width: 2px;
    border-radius: 5px;
    outline: none;
}

.centered{
    margin-right: auto;
    margin-left: auto;
}

.year{
    margin-left: auto;
    margin-right: auto;
}



.sat,
.sun{
    background-color: #fa6746;
}

.has-events{
    margin: 10px;
    border: solid;
    border-radius: 3px;
     border-width: 2px;
     border-color: blue;
}

.today{
    border: solid;
    border-width: 2px;
    border-radius: 13px;
    border-color: green;
}