{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if request.user.is_authenticated %}
    {{ request.user.username }}
    <a href="{% url 'events:events_list' %}">Events list</a>
    <a href="{% url 'events:calculate' %}">Calculate Sum</a>
    <a href="{% url 'events:create' %}">Create new event</a>
    <a href="{% url 'users:logout' %}">Logout</a>

{% else %}
{% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>