{% extends 'home/base.html' %}
{% load i18n %}
{% block title %}Calculate{% endblock %}

{% block content %}
<div class="container">
     <div class="wrapper">
        <div class="form-wrapper">
            <form id="creation_form" action="{% url 'events:calculate' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="form-control">
                    <div class="form-control-label">
                        <span class="material-symbols-outlined">
                            calendar_month
                        </span>
                        <div class="label">
                            {{ form.start_date.label }}
                        </div>
                    </div>
                    <div class="field-error">
                        {{ form.start_date.errors }}
                    </div>
                    <div class="form-control-field">
                        {{ form.start_date }}
                    </div>
                </div>

                <div class="form-control">
                    <div class="form-control-label">
                        <span class="material-symbols-outlined">
                            {{ schedule }}
                        </span>
                        <div class="label">
                            {{ form.start_time.label }}
                        </div>
                    </div>
                    <div class="field-error">
                        {{ form.start_time.errors }}
                    </div>
                    <div class="form-control-field">
                        {{ form.start_time }}
                    </div>
                </div>

                <div class="form-control">
                    <div class="form-control-label">
                        <span class="material-symbols-outlined">
                            calendar_month
                        </span>
                        <div class="label">
                            {{ form.end_date.label }}
                        </div>
                    </div>
                    <div class="field-error">
                        {{ form.end_date.errors }}
                    </div>
                    <div class="form-control-field">
                        {{ form.end_date }}
                    </div>
                </div>

                <div class="form-control">
                    <div class="form-control-label">
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <div class="label">
                            {{ form.end_time.label }}
                        </div>
                    </div>
                    <div class="field-error">
                        {{ form.end_time.errors }}
                    </div>
                    <div class="form-control-field">
                        {{ form.end_time }}
                    </div>
                </div>
    </form>
            <div class="button-holder">
                    <button form="creation_form" class="button submit" type="submit">
                        <div class="button-inner">
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>

                            <div class="button-text">
                                {% translate "Calculate" %}
                            </div>
                        </div>
                    </button>
                </div>

        </div>
     </div>
    {% if amount %}
    <div class="wrapper">
        <div class="form-wrapper">
        <p>{% translate "From" %} {{ start|date:'d.m.Y H:i' }} {% translate "to" %} {{ end|date:'d.m.Y H:i' }} {% translate "your earnings is" %} {{ amount }}</p>
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}
