{% extends 'home/base.html' %}
{% load i18n %}
{% block title %}Event list{% endblock %}

{% block content %}
<a href="{% url 'events:events_calendar' %}">Calendar</a>
<div class="container">

    <div class="content">

        {% if not events %}
            <div class="empty-message">
                You have no events. Add one?<a href="{% url 'events:create' %}">Add</a>
            </div>
        {% endif %}
        {% for event in page_obj %}
            <div class="event-item" >
                {% if event.in_future %}

                    <span style="color: green;">{% translate "Future event" %}</span>
                {% elif event.in_past %}
                    <span style="color: grey;">{% translate "Past event" %}</span>
                {% elif event.today %}
                    <span style="color: red;">{% translate "Today event" %}</span>
                {% endif %}
                <div class="event-title">
                        <span class="material-symbols-outlined">
                            list_alt
                        </span>
                        <a href="{% url 'events:update' event.id %}">
                            {{ event.title }}
                        </a><br>
                </div>
                <div class="event-date">
                    <span class="material-symbols-outlined">
                        schedule
                    </span>
                    <span>{{ event.date_of_the_event|date:'l d.m.Y H:i ' }}</span><br>
                </div>
                 <div class="event-price">
                     <span class="material-symbols-outlined">
                        request_quote
                     </span>
                    {{ event.price }}<br>
                 </div>

                <a href="{% url 'markers:markers_list'  %}?for_event={{ event.id }}&event_page={{ request.GET.page }}">{% translate "Add markers" %}</a>

                <br>
{% comment %}Display markers in event item{% endcomment %}
                {% if event.markers.all %}
                    <select name="markers">
                        {% for marker in event.markers.all %}
                        <option>{{ marker.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <div class="button-holder">
                    <form action="{% url 'events:delete' event.id %}">
                    <button class="button remove" type="submit">
                        <div class="button-inner">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                            <div class="button-text">
                                {% translate "Remove" %}
                            </div>
                        </div>
                    </button>
                </form>
                    <form action="{% url 'events:update' event.id %}">
                    <button class="button submit">
                        <div class="button-inner">
                            <span class="material-symbols-outlined">
                                update
                            </span>
                            <div class="button-text">
                                {% translate "Update" %}
                            </div>
                        </div>
                    </button>   
                </form>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if events %}
    <div class="pagination-wrapper">
        <div class="pagination">
            <span class="step-links">
                <span class="current">
                    {% translate "Page" %}{{ page_obj.number }} {% translate "of" %}{{ page_obj.paginator.num_pages }}.
                        {% for p in page_range %}

                                <a href="?page={{ p }}{% if request.GET.f %}&f={{ request.GET.f }}{% endif %}" {% if page_obj.number == p %} style="font-weight: bold;"{% endif %}>{{ p }}</a>
                        {% endfor %}
                </span>
            </span>
        </div>
        </div>
</div>
{% endif %}
{% endblock %}