{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'normalize.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
    <script src="{% static '/admin/js/calendar.js' %}"></script>
<!--<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">-->
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<!--    <script src="{% static '/admin/js/utils.js' %}"></script>-->
 <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<!--<style id="PHTStyle" type="text/css">.qtip-content { font-family: "Times New Roman"; font-size: 17px; line-height: 19px; white-space: pre-wrap; } .qtip-max-width { max-width: 700px; }</style></head>-->
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="logo-holder">
                    <a href="#" class="logo" style="display: flex; align-items: center;">
                        <img class="logo-img" src="{% static 'logo-frog.png' %}" alt='logo'>
                        <div>SC</div>
                    </a>
                    </div>
                <ul class="menu">
                    {% if 'events/list' in request.path or 'events/calendar' in request.path %}
                        <li class="menu-item">
                            {% include 'markers/marker_form.html' %}
                        </li>
                    {% elif 'marker/list/' in request.path %}
                        <li class="menu-item">
                            {% if not request.GET.for_event %}
                                {% include 'markers/marker_create_form.html' %}
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if request.path != '/events/calendar/' %}
                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'events:events_calendar' %}?year={% now 'Y' %}">{% translate "Events calendar" %}</a>
                        </li>
                    {% elif request.path != '/events/list/' %}
                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'events:events_list' %}">{% translate "Events list" %}</a>
                        </li>
                    {% endif %}


                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'events:calculate' %}">{% translate "Calculate Sum" %}</a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'events:create' %}{% if request.GET.year and request.GET.month and request.GET.day %}?year={{ request.GET.year }}&month={{ request.GET.month }}&day={{ request.GET.day }}{% endif %}">{% translate "Create new event" %}</a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="{% url 'users:logout' %}">{% translate "Logout" %}</a>
                    </li>
                </ul>
<!--                <div class="form-wrapper" style="min-width: 147px;">-->
                <form action="{% url 'set_language' %}" method="post" onchange="submit();">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>

                </form>
<!--                </div>-->
                <a class="menu-link" href="{% url 'users:profile' %}">
                    <span class="material-symbols-outlined">
                        manage_accounts
                    </span>{{ request.user.username }}</a>
            </nav>
        </div>
    </header>

    <div class="container">
        {% if messages %}
        <div id="message" class="messages-holder">
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        setTimeout(() => {
            const message = document.getElementById('message');
            message.style.display = 'none';
          }, 5000);
    </script>
</body>
</html>