{% extends 'home/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="form-wrapper">
            Log-in
            <form action="{% url 'users:login' %}" method="POST" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                <div class="errorlist">
                <p>Your username and password didn't match. Please try again.</p>
                </div>
            {% endif %}
                    <div class="form-control">
                        <div class="form-control-label">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                            <div class="label">
                                {{ form.username.label }}
                            </div>
                        </div>
                        <div class="field-error">
                            {{ form.username.errors }}
                        </div>
                        <div class="form-control-field">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-control">
                        <div class="form-control-label">
                            <span class="material-symbols-outlined">
                                lock
                            </span>
                            <div class="label">
                                {{ form.password.label }}
                            </div>

                        </div>
                        <div class="field-error">
                            {{ form.password.errors }}
                        </div>
                        <div class="form-control-field">
                            {{ form.password }}
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{% url 'events:events_list' %}">
                    <div class="button-holder">
                        <button class="button submit">
                            <div class="button-inner">
                                <span class="material-symbols-outlined">
                                    login
                                </span>
        
                                <div class ="button-text">
                                    log-in
                                </div>
                            </div>
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}