{% extends "home/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class='container'>
        <div class="wrapper">
            <div class="form-wrapper">
                Profile
                <div class="form-control">
                    <div class="form-control-label">
                        <span class="material-symbols-outlined">
                            person
                            </span>
                        <div class="label">Username</div>
                    </div>
                    <div class="form-control-field">
                        <input id="id_username" type="text"  value='{{ username }}' disabled >
                    </div>
                   
                    <div class="form-control-label">
                        <span class="material-symbols-outlined">
                            lock
                            </span>
                        <div class="label">Password</div>
                    </div>
                    <div class="form-control-field">
                        <input id="id_password" type="text"  value="*****" disabled >
                    </div>
                </div>

                <div class="button-holder">
                    <form action="{% url 'users:username_change' %}">
                        <button class="button submit">
                            <div class="button-inner">
                                <span class="material-symbols-outlined">
                                    manage_accounts
                                </span>
                        
                                <div class "button-text">
                                    Change username
                                </div>
                            </div>
                        </button>
                    </form>

                    <form action="{% url 'users:password_change' %}">
                        <button class="button submit">
                            <div class="button-inner">
                                <span class="material-symbols-outlined">
                                    settings
                                </span>
                        
                                <div class="button-text">
                                    Change password
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            <div class="button-holder" style="align-items: center;">
                <div>
                    <div><span class="material-symbols-outlined">
push_pin
</span>Your markers:</div>

                    <select name="markers">
                        {% for marker in request.user.markers.all %}
                            <option>{{ marker.name }}</option>
                        {% endfor %}
                    </select>

                    <form>
                    <button class='button submit' value="Change">Change</button>
                </form>
                <form>
                    <button class='button submit' value="Add new">Add</button>
                </form>
                </div>


                 <div>
                    <div>Your events:</div>

                    <select name="events">
                        {% for event in request.user.events.all %}
                            <option>{{ event.title }}  {{ event.date_of_the_event|date:'d.m.Y H:i' }}</option>
                        {% endfor %}
                    </select>

                    <form>
                    <button class='button submit' value="Change">Change</button>
                </form>
                <form>
                    <button class='button submit' value="Add new">Add</button>
                </form>
                </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}