{% extends 'events/base.html' %}

{% block content %}
    {% if action == 'update' %}
            <form action="{% url 'events:update' id=id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>

    {% else %}
            <form action="{% url 'events:create' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>

    {% endif %}

{% endblock %}