{% extends 'events/base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
    {% if action == 'update' %}
    <form action="{% url 'events:update' id=id %}" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button> <a href="{% url 'events:events_list' %}">Cancel</a>
            </form>

    {% else %}
            <form action="{% url 'events:create' %}" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="create">
            </form>

    {% endif %}

{% endblock %}