{% extends 'home/base.html' %}

{% block title %}Markers{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'markers:add_marker_to_event' event_id=event.id %}?event_page={{ request.GET.event_page }}" id="marker-choice"  method="POST">
        {% csrf_token %}
            <input type="submit" value="Add/remove">
        </form>
    <div class="content">
        {% for marker in markers %}

            <div class="event-item">
                <input form="marker-choice" value="{{ marker.id }}" type="checkbox" name="choice" {% if marker in event.markers.all %}checked{% endif %}>
                <div class="event-title">
                    <span class="material-symbols-outlined">
                        list_alt
                    </span>

                    {{ marker.name }}
                </div>

                <form action="{% url 'events:events_list' %}" >
                    <input type="hidden" name="f" value="{{ marker.name }}">
                    <button type="submit">Show related events</button>
                </form>
                <form action="{% url 'markers:markers_detail' marker.id %}" >
                    <button type="submit">Change name</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}