 <div class="form-wrapper flex" style="width: 230px; align-items: center; height: 8px; background-color: #e5f2ff;" title="Filter your events">
<!--     <div class="button-holder">-->
        <form  action="{% url 'markers:filter' %}" method="post" novalidate>
            {% csrf_token %}
            <select name="filter" style="border-width: 2px; border-radius: 5px; outline: none;">
                <option value="None">None</option>
                {% for marker in user.markers.all %}
                    {% if marker_id == marker.id %}
                        <option value="{{ marker.id }}" selected>{{ marker.name }}</option>
                    {% else %}
                        <option value="{{ marker.id }}">{{ marker.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
<!--            <input type="submit" value="Filter">-->
            <button class="button submit" type="submit">filter</button>
        </form>
        <form action="{% url 'events:events_list' %}">
            <button class="button submit">Reset</button>
        </form>
<!--         </div>-->
    </div>