{% load i18n %}

<div class="marker-form-wrapper flex" style=" align-items: center; height: 8px; background-color: #e5f2ff;" title="Filter your events">
        <form  action="{% url 'events:events_list' %}" method="GET">
            <select name="f" style="border-width: 2px; border-radius: 5px; outline: none;">
                <option value='Default'>{% translate "Default" %}</option>
                {% for marker in user.markers.all %}
                        <option value="{{ marker.name }}"
                                {% if request.GET.f == marker.name %}
                                selected
                                {% endif %}>
                            {{ marker.name }}
                        </option>
                {% endfor %}
            </select>
            <button class="button submit" type="submit">{% translate "filter" %}</button>
        </form>
        <form action="{% url 'events:events_list' %}">
            {% if request.GET.page %}
                <input type="hidden" name="page" value="{{ request.GET.page }}">
            {% endif %}
            <button type="submit" class="button submit">{% translate "Reset" %}</button>
        </form>
    </div>